# Project exclude paths
/.gradle/
build
/build/classes/kotlin/backend/main/
/fsLib/build/
/.idea/
/.kotlin-js-store/yarn.lock
.idea/
.DS_Store
/local.properties
/kotlin-js-store/yarn.lock
/.kotlin/
/backendLib/build
/utils/build/
/modelUtils/build/
